html, body, div,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media (max-width: 1199px) {
    /*<=1199的设备*/
    html, body{
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    /*<=991的设备 }*/
}

@media (max-width: 767px) {
    /*<=768的设备 */
    html, body{
        font-size: 12px;
    }

}